{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <style>
            .jumbotron {

                background-size: 100% 100%;
                height: 400px;

            }
             .container{
                 font-family: aakar, serif;
                 letter-spacing: 0.07em;
                 width: 450px;
                 height: 500px;
             }

        </style>
    {% endblock %}
    <div class="container">
        <div class="jumbotron">
    <p>
        If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
        This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>If you don't receive an email please check your spam folder or <a class="btn btn-danger" href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
    </div>
    </div>
        {% endblock %}
