{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}
{% block content_title 'Welcome'%}

{% block main %}

<h1>Welcome, {{ app.user.username }}</h1>
{% endblock %}
