{% include 'base.html.twig' %}
<div class="table-responsive-md">
{{ form_start(form) }}
    {{ form_widget(form) }}
</div>
    <button class="btn btn-success btn-md">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
